
body{
  background-color:rgb(194, 150, 187);
  /* avoid extra margin and padding*/
  margin:0;
  padding: 0;
  min-height:100vh;
  max-width:100%;
}

html {
  height: 100%;
  width: 100%;
}

/* aligning h2 to the middle, with  margin 30px from top and bottom 50px */
h2{
  text-align:center;
  margin: 30px 0 50px 0;
  color: #8f99a4;
  text-decoration:underline;
}

hr{
 border-color: rgba(138, 40, 40, 0.1)!important;
}
p{
  display:block;
  margin: 0 auto 50px auto;
  width: 400px;
  font-family: 'Roboto Mono', monospace;
  /* adding padding from the background to make it readable */
  padding-top: 40px;
}


h3{
  font-size:2.5rem;
  text-decoration: underline rgb(139, 75, 129);
  text-align: center;
  margin: 50px 0 50px 0;
  font-family: 'Big Shoulders Display', cursive;
  font-style: italic;
}

/* ******************* header / Intro ************************** */


#name{
    background-color: white;
    text-align:center;
    margin: 0 0 50px 0;
    background-color:rgb(171, 112, 162);
    height: 70px;
    font-family: 'Rubik Pixels', cursive;
  }

nav{
  margin-left: 900px;
}

/* using   display to display to align list horizontally */

ul,li{
  display:inline-block;
  text-decoration: underline;
  text-align:center;
  font-family: 'Big Shoulders Display', cursive;
}

ul{
  margin: 0 30px 30px 980px;
}

/* profile add display to take up full width, and center img with margin, style corners with border radius */
#profile-image{
  display:block;
  width:500px;
  height:500px;
  margin: 60px  auto 0 auto;
  border-radius: 50%;

 }

.intro{
  background-color: rgba(236, 221, 221, 0.1);
  height:500px
}


/* *******************Links************************** */


a{
  margin: 0 20px 30px 20px;
  font-size:1.5rem;
  text-decoration:underline;
}


a:link {
  color: rgb(87, 87, 166);
}

/* Highlight visited link */
a:visited {
  color: rgb(61, 116, 115);
}

/*adding hoover */
a:hover {
  color: rgba(139, 18, 10);
}

/* Current selected link */
a:active {
  color: rgb(78, 185, 179);
}


/* *******************Project************************** */

.grid {
  width: 900px;
  /* creating grid layout */
  display: grid;
 /*  creating a grid column with four grid */
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: 10px 0 0px 220px;

}
.item {
  background-color: #eee;
  padding: 20px;
  border-radius:20px;
}
.item:hover{
  transform: scale(1.1);
}
.item img {
  max-width: 100%;
  height: auto;
}
.item h2 {
  margin-top: 20;
  margin-bottom: 5px;
}


.project-images img{
display:block;
width:500px;
height:500px;
margin: 60px  auto 0 auto;
border-radius: 30%;

 }

/* *******************Travel************************** */

.travel {
display: flex;
align-items: center;
}

.travel img {
width: 30%;
margin-left: 40px;
margin-top:80px;
border-radius:20px;
}
article{
margin-left: 30px;
font-family: 'Roboto Slab', serif;
font-size:1.3rem;
width: 400px

}

/* ******************* Location ************************** */

 /* setting width, height, then setting left and right margins to auto to center the map, border-radius to round up the corner a bit, box-shadow to  design the background   */

#map{
  width: 600px;
  height: 450px;
  margin: auto;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* *******************Footer************************** */
 /* sticky footer, bottom 0 to position it to  the bottom */

footer{
  position: sticky;
  bottom: 0;
  background-color:rgb(171, 112, 162);
  text-align:center;
  width:100vw;
  height:50px;
  font-size:1.3rem;
  margin-top: 60px
}
