
body{
  background-color:pink;

}
html {
  height: 100%;
  width: 100%;
}

a{
  margin:70px 20px 0 0;
  font-size:1.5rem;
  text-decoration:underline;
}

img{
 display:block;
  width:500px;
 height:500px;
 margin: 60px  auto 0 auto;
 border-radius: 50%;

}

h1{
  background-color: white;
  text-align:center;
  margin: 0 0 50px 0;
  color: #8f99a4;

}


h2{
  text-align:center;
  margin: 30px 0 50px 0;
  color: #8f99a4;
  text-decoration:underline;

}

p{
  display:block;
  margin: 0 auto 50px auto;
  width: 400px;

}

h3{
  font-size:2rem;
  font-style: italic;
  margin:40px 0 0 0;
}
ul,li{
  display:inline-block;
  text-decoration: underline;
}

footer{
  background-color:aquamarine;
  text-align:center;
  width:100vw;
}
